build/*
*.jar
*.o
*.inl
*.log
core.*

rtadp-proto/ACS/lib/
rtadp-proto/ACS/object/

__pycache__

workers/build
workers/dist
workers/workers.egg-info

.vscode
# file utilizzato durante il development da Nunzio 
main.py
